.navbar {
    background-color: #eeb111;
    /* #00467f dark blue eps color */
}


#navbarbg {
    background-color: #eeb111;
    border: 2px;
    border-color: black;
    border-style: solid;
}

#abovenav {
    background-color: #00467f;
}

#navtext {
    color: #00467f;
}

#navlinks{
    color: #00467f;
}

#navlinks:hover {
    color: white;
}

li:hover {
    color: white;
}